<?xml version="1.0" encoding="UTF-8"?>
<gui name="freeciv-kde"
     version="6"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >

  <MenuBar>
    <Menu name="game">
      <text>Game</text>
      <Action name="newGame"/>
      <Action name="loadGame"/>
      <Action name="loadScenario"/>
      <Action name="connectToGame"/>
      <Separator/>
      <Action name="saveGameAs"/>
      <Separator/>
      <Action name="quit"/>
    </Menu>
    <Menu name="view">
      <text>View</text>
      <Action name="fullScreen"/>
      <Separator/>
      <Action name="minimap"/>
      <Separator/>
      <Action name="cityOutlines"/>
      <Action name="cityOutput"/>
      <Action name="mapGrid"/>
      <Action name="nationalBorders"/>
      <Action name="nativeTiles"/>
      <Action name="cityFullBar"/>
      <Action name="cityNames"/>
      <Action name="cityGrowth"/>
      <Action name="cityProductionLevels"/>
      <Action name="cityBuyCost"/>
      <Action name="cityTradeRoutes"/>
    </Menu>
    <Menu name="camera">
      <text>Camera</text>
      <Action name="centerView"/>
      <Separator/>
      <Action name="zoomIn"/>
      <Action name="zoomOut"/>
      <Action name="scaleFonts"/>
    </Menu>
    <Menu name="unit">
      <text>Unit</text>
      <Action name="gotoTile"/>
      <Action name="gotoNearestCity"/>
      <Action name="goAirlifttoCity"/>
      <Separator/>
      <Action name="autoExplore"/>
      <Action name="patrol"/>
      <Action name="sentry"/>
      <Action name="unsentryAllOnTile"/>
      <Separator/>
      <Action name="load"/>
      <Action name="unload"/>
      <Action name="unloadAllFromTransporter"/>
      <Separator/>
      <Action name="setHomeCity"/>
      <Action name="upgrade"/>
      <Action name="convert"/>
      <Action name="disband"/>
      <Separator/>
      <Action name="wait"/>
      <Action name="done"/>
      <Separator/>
      <Action name="endTurn"/>
    </Menu>
    <Menu name="combat">
      <text>Combat</text>
      <Action name="fortifyUnit"/>
      <Action name="buildFortFortressBuoy"/>
      <Action name="buildAirstripAirbase"/>
      <Action name="menuBuildBase"/>
      <Separator/>
      <Action name="pillage"/>
    </Menu>
    <Menu name="work">
      <text>Work</text>
      <Action name="buildCity"/>
      <Action name="autoWorker"/>
      <Separator/>
      <Action name="buildRoad"/>
      <Action name="menuBuildPath"/>
      <Action name="irrigate"/>
      <Action name="mine"/>
      <Separator/>
      <Action name="connectWithRoad"/>
      <Action name="connectWithRailway"/>
      <Action name="connectWithIrrigation"/>
      <Separator/>
      <Action name="transform"/>
      <Action name="cleanPollution"/>
      <Action name="cleanNuclearFallout"/>
      <Action name="helpBuildWonder"/>
      <Action name="establishTraderoute"/>
    </Menu>
    <Menu name="civilisation">
      <text>Civilisation</text>
      <Action name="units"/>
      <Action name="players"/>
      <Action name="cities"/>
      <Action name="economy"/>
      <Action name="research"/>
      <Action name="spaceship"/>
    </Menu>

    <Menu name="settings">
      <Action name="options"/>
    </Menu>

</MenuBar>

  <ToolBar name="mainToolBar" >
    <text>Main Toolbar</text>
    <Action name="newGame"/>
    <Action name="saveGameAs"/>
    <Action name="centerView"/>
    <Action name="zoomIn"/>
    <Action name="zoomOut"/>
  </ToolBar>

</gui>
